@charset "utf-8";
/* CSS Document */

body, td, th, p {
    font-family: Roboto;
    font-size: 10pt;
    color: #333;
    line-height: 1.5;
}

body {
    background-color: #fdfdfd;
    margin: 0;
    position: relative;
    width: 100%;
}

ul, li {
    font-family: Roboto;
    font-size: 10pt;
    color: #333;
}

a {
    color: orange;
    text-decoration: none;
}

a img {
    border: none 0px #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Roboto;
    margin: 0 0 20px;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

/* ====================== Home Page ====================== */

.skip-link {
    position: absolute;
    top: -120px;
    left: 0px;
    background: #212121;
    color: white;
    padding: 8px;
    z-index: 1000;
    margin-left: 10px;
}

.skip-link:focus {
    top: 20px;
}

.skip-map {
    position: absolute;
    top: -200px;
    left: 0px;
    background: #212121;
    color: white;
    padding: 8px;
    z-index: 1000;
    margin-left: 10px
}

.skip-map:focus {
    top: 20px;
    left: 380px;
}

#maincontent {
    background-color: #f3f3f3;
    min-height: 100%;
}

#restaurant-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

#footer {
    background-color: #444;
    color: #aaa;
    font-size: 8pt;
    letter-spacing: 1px;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    border-top: 1px solid #d9d9d9;
}

/* ====================== Navigation ====================== */
nav {
    width: 100%;
    height: 80px;
    background-color: #4285f4;
    text-align: center;
}

nav h1 {
    margin: auto;
    line-height: 80px;
}

nav h1 a {
    color: #fff;
    font-size: 16pt;
    font-weight: 400;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.breadcrumb {
    position: fixed;
    height: 51px;
}

#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    font-family: Roboto;
    margin: 0;
    text-align: left;
    max-height: 51px;
    z-index: 100;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li + li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
    height: 400px;
    width: 100%;
    background-color: #ccc;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.filter-options h2 {
    color: #212121;
    font-weight: 500;
    line-height: 1;
}

.filter-options select {
    background-color: white;
    border: 1px solid #fff;
    font-family: Arial, sans-serif;
    font-size: 11pt;
    height: 35px;
    letter-spacing: 0;
    margin: 10px;
    padding: 0 10px;
    width: 200px;
}

.filter-container select {
    background-color: white;
    border: 1px solid #fff;
    font-family: Arial, sans-serif;
    font-size: 11pt;
    height: 35px;
    letter-spacing: 0;
    margin: 10px;
    padding: 0 10px;
    width: 200px;
}

#filter-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

#filter-header {
    width: 100%;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
    background-color: #f3f3f3;
    list-style: outside none none;
    margin: 15px auto 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
    height: 100%;
}

#restaurants-list li {
    background-color: #fff;
    font-family: Arial, sans-serif;
    min-height: 380px;
    text-align: left;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

#restaurant-container {
    padding-top: 20px;
}

#restaurants-list .restaurant-img {
    background-color: #ccc;
    display: block;
    margin: 0;
    margin-bottom: 10px;
    max-width: 100%;
    min-height: 248px;
    min-width: 100%;
}

#restaurants-list li h2 {
    color: #4285f4;
    font-family: Roboto;
    font-size: 14pt;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.3;
    margin: 20px 0 10px;
    text-transform: uppercase;
    text-align: center;
}

#restaurants-list p {
    margin: 0;
    font-size: 11pt;
    text-align: center;
}

#restaurants-list li a {
    background-color: #4285f4;
    color: #fff;
    display: inline-block;
    font-size: 10pt;
    margin: 15px;
    padding: 8px 30px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    float: left;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    border-radius: 2px;
}

#favorite-restaurant button {
    background-color: #4285f4;
    color: #fff;
    display: inline-block;
    font-size: 10pt;
    margin: 15px;
    padding: 8px 30px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    float: right;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    border-radius: 2px;
}

#submitButton {
    background-color: #4285f4;
    color: #fff;
    display: inline-block;
    font-size: 10pt;
    margin: 15px;
    padding: 8px 30px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    float: right;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    border-radius: 2px;
}


/* ====================== Restaurant Details ====================== */
.inside header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.inside #maincontent {
    background-color: #f3f3f3;
    min-height: 100%;
    margin-top: 165px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

.inside table {
    width: 100%;
}

.inside #map-container {
    padding-left: 10px;
    padding-right: 10px;
}

.inside #map {
    background-color: #ccc;
    border-bottom-style: hidden;
    height: 250px;
}

.inside #footer {
    bottom: 0;
    width: 100%;
    background-color: transparent;
    padding: 25px 0;
    margin-left: auto;
    margin-right: auto;
}

#restaurant-name {
    color: #4285f4;
    font-family: Roboto;
    font-size: 16pt;
    font-weight: 400;
    letter-spacing: 0;
    margin: 15px 0 30px;
    text-transform: uppercase;
    line-height: 1.1;
    text-align: center;
}

#restaurant-img {
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100% - 20px);
}

#restaurant-img-container {
    width: 50%;
}

#restaurant-address {
    width: calc(100% - 20px);
    font-size: 16pt;
    margin-top: 0px;
}

#restaurant-cuisine {
    background-color: #4285f4;
    color: #ddd;
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 10px;
    font-family: Roboto;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    text-transform: uppercase;
    width: calc(100% - 20px);
}

#restaurant-container, #reviews-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#reviews-container h3 {
    color: #333;;
    font-size: 18pt;
    font-weight: 400;
    letter-spacing: -1px;
    padding-bottom: 1pt;
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100% - 20px);
    margin-top: 20px;
}

#reviews-list {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}

#offline-reviews-list {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}

#reviews-list li {
    background-color: #fff;
    border-radius: 2px;
    display: block;
    list-style-type: none;
    margin: 0 0 30px;
    overflow: hidden;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: calc(100% - 20px);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

#offline-reviews-list li {
    background-color: #fff;
    border-radius: 2px;
    display: block;
    list-style-type: none;
    margin: 0 0 30px;
    overflow: hidden;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: calc(100% - 20px);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

#reviews-list li p {
    margin: 0 0 12px;
    font-family: Roboto;
    font-size: 10pt;
}

#offline-reviews-list li p {
    margin: 0 0 12px;
    font-family: Roboto;
    font-size: 10pt;
}

#restaurant-hours td {
    color: #666;
}

#restaurant-hours {
    font-size: 12pt;
    height: 83%;
}

#reviewer {
    font-weight: 600;
}

#restaurant-hours-container {
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

#review-form {
    margin-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 60px;
}

.formElements {
    margin-top: 10px;
    margin-bottom: 10px;
}
/* ====================== Breadcrumb ====================== */

#restaurant-info {
    display: flex;
    flex-direction: row;
}

#results-count-container {
    width: 100%;
}

#results-count {
    font-size: 12pt;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
}


